body {
    background-color: aliceblue;
    margin: 10px;
    padding: 0;
}

#para {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    word-spacing: 0.3rem;
}

#box {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    color: white;
    font-weight: 800;
}
#box p {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2.2rem;
}
